:root
{
	--dark_purp: 9.5, 0, 20.4;
	--bright_orange: #ff6500;
}


.album_cover
{
	text-align:center;
	width:30%;
}

.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.flex_container
{
	display:flex;
	justify-content:space-around;
	text-align:center;
			
}

body
{
	background-color:rgb(var(--dark_purp));
	background-image: url("../assets/img/bg_img.png");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
	
	font-family:monospace;
	color: var(--bright_orange);
	text-align: left;
}

.pixelated
{
	image-rendering: pixelated;
}

.smoot
{
	image-rendering: smooth;
}

.bordered
{
	border-style: solid;
	border-width: 1px;
	background-color: rgba(var(--dark_purp), 0.9);

}

hr
{
	color: var(--bright_orange);
}

.menu_bar
{
	border-style: solid;
	border-width: 1px;
	background-color: rgb(var(--dark_purp));
	opacity:0.9;
	display:flex;
	justify-content: space-around;
	position:fixed;
	top:1%;
	width:98%;
}

dt
{
	font-size:10pt;
	font-weight: bold;
	margin-left:05px;
}

h1, h2, h3
{
	text-align: center;
}
